* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #f2f1f2;
}

.bg2 {
    height: 1050px;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
    background-color: white;
}

.bg1 {
    height: 80%;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
    background-color: #f2f1f2;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    gap: 30px;
}

.gmail {
    color: black;
    font-size: 1.2em;
    font-weight: 600;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    gap: 30px;
}

.left-nav button {
    width: 5rem;
    height: 50px;
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    color: black;
    background-color: white;
}

.right-nav button {
    height: 50px;
    width: 5rem;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #f2f1f2;
}

.right-nav button:hover {
    color: white;
}

.left-nav button:hover {
    color: white;
    background-color: black;
}

.mainpg1 {
    display: flex;
    flex-direction: column;
    font-size: 2.4em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px;
}

.circle {
    height: 220px;
    width: 220px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0px 0px 35px 0px;
}

.circle img {
    height: 216px;
    width: 216px;
    border: 2px solid white;
    border-radius: 50%;
}

.mainpg1 button {
    height: 70px;
    width: 230px;
    font-size: 20px;
    border: 1px solid back;
    border-radius: 50px;
    color: black;
    background-color: white;
    margin-top: 40px;
}

.mainpg1 button:hover {
    color: white;
    background-color: black;
}

.logo {
    height: 40px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.national-bank {
    height: 55px;
}

.cocacola {
    height: 40px;
}

.adobe {
    display: flex;
    height: 60px;
}

.subway {
    height: 30px;
}

.bg3 {
    height: 480px;
    background-color: #f2f1f2;
}

.para1 {
    margin: 70px;
    text-align: center;
    font-size: 50px;
}

.page2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page2 .p2heading {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.bg4 {
    height: 550px;
    border: 1px solid white;
    border-radius: 100px 100px 0px 0px;
    background-color: white;
    text-align: center;
}

.bg4 .handshake {
    height: 160px;
    border: 2px solid grey;
    border-radius: 50%;
    margin: 50px;
    background-color: #f2f1f2;
}

.bg4 h1 {
    margin-bottom: 50px;
    font-size: 3em;
}

.bg4btn {
    display: flex;
    gap: 20px;
    justify-content: center;

}

.bg4 button {
    height: 70px;
    width: 230px;
    font-size: 22px;
    border-radius: 100px;
}


.bg4 button:hover {
    color: white;
    background-color: black;
}
