*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(193, 193, 193);
}

.bg1{
    height:800px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 0px 0px 100px 100px;
    background-color: rgb(193, 193, 193);
}
.nav{
    display: flex;
    height: 7vh;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
    align-items: center;
}

.left-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 0px 0px 40px;
    gap: 30px;
}
.gmail{
    color: black;
    font-size: large;
    font-weight: bold;
}
.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    margin: 0px 40px 0px 0px;    
    gap: 30px;
}

.left-nav button{
    width: 100px;
    height: 50px;
    margin: 3px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    outline: none;
}

.right-nav button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: rgb(193, 193, 193);
}
.right-nav button:hover{
    color: red;
}
.left-nav button:hover{
    color: red;
}
.mainpg1{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 70px;
}

.circle{
    
    height: 220px;
    width: 220px;
    border: 2px solid white;
    border-radius:50%;
    margin: 0px 0px 35px 0px;
}

.circle img{
    height: 216px;
    width: 216px;
    border: 2px solid white;
    border-radius: 50%;
}

.mainpg1 button{
    height: 70px;
    width: 230px;
    font-size: 20px;
    border: 1px solid back;
    border-radius: 50px;
    color: white;
    background-color: black;
    margin: 40px 0px 0px 0px;
}

.mainpg1 button:hover{
    color: red;
}

.bg2{
    height: 1050px;
    width: 100%;
    border-radius: 0px 0px 100px 100px;
    background-color: white;
}

.logo{
    margin: 100px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.national-bank{
    height: 55px;
}

.cocacola{
    height: 40px;
}

.adobe{
    display: flex;
    height: 60px;
}

.subway{
    height: 30px;
}

.bg3{
    height: 480px;
    background-color: rgb(193, 193, 193);
}
.para1{
    margin: 70px;
    text-align: center;
    font-size: 50px;
}
.page2{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}
.page2 .p2heading{
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 20px 0px;
}

.bg4{
    height: 550px;
    border: 1px solid white;
    border-radius: 100px 100px 0px 0px;
    background-color: white;
    text-align: center; 
}

.bg4 .handshake{
    height: 160px;
    border: 2px solid grey;
    border-radius: 100%;
    margin: 50px;
    background-color: rgb(193, 193, 193);
}
.bg4 h1{
    margin: 0px 0px 50px 0px;
    font-size: 50px;
}
.bg4btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 20px;
}
.bg4 button{
    font-weight: bold;
    height: 70px;
    width: 230px;
    font-size: 22px;
    border-radius: 100px;
}

.bg4btn .email{
    height: 30px;
}

.bg4btn .whatsapp{
    height: 25px;
}

.bg4btn .email-me-btn{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: grey;
}

.bg4btn .whatsapp-btn{
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    background-color: white;
}